<% if (response.status == 201 || response.status == 202) %>
  <div class="alert alert-info fade in">
    <button class="close" data-dismiss="alert">×</button>
    Article was successfully <%= response.status == 201 ? 'created' : 'updated' %>.
  </div>
<% end %>

<h1>
  <%= @article.title %>
  <span><%= link_to ('<i class="fa-solid fa-pencil fa-2xs"></i>').html_safe, edit_article_path %></span>
  <%= link_to ('<i class="fa-regular fa-trash-can fa-2xs"></i>').html_safe,
    article_path(@article),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</h1>

<hr>

<p><%= @article.content %></p>
