<% if alert %>
  <div class="alert alert-info d-flex justify-content-between align-items-center">
    <%= alert %>
    <button class="btn bg-transparent text-muted border-0" data-dismiss="alert" onclick="this.parentElement.classList.add('d-none');">
      <i class="fa-sharp fa-solid fa-xmark"></i>
    </button>
  </div>
<% end %>

<h1>
  <%= @article.title %>
  <span><%= link_to ('<i class="fa-solid fa-pencil fa-2xs"></i>').html_safe, edit_article_path %></span>
  <%= link_to ('<i class="fa-regular fa-trash-can fa-2xs"></i>').html_safe,
    article_path(@article),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
</h1>

<hr>

<p><%= @article.content %></p>
